.about-us-container {
  font-family: "Serif", sans-serif;
  color: #333;
  line-height: 1.6;
}

.values-section {
  /* background-image:; */
  background-position: center;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}
.cardSize {
  width: 100%;
  max-height: 250px;
}
.card {
  max-width: 23rem;
}

.values-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.values-text {
  position: relative;
  z-index: 1;
}

.values-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.values-text p {
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.text-block {
  margin-bottom: 3rem;
}

.cart-drawer {
  position: fixed;
  border: 1px solid #000000;
  margin: 5px;
  padding: 10px;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-drawer.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .text-block {
    margin-bottom: 2rem;
  }

  .cardSize {
    max-height: 180px;
  }

  .card .card-body {
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem !important;
  }

  .values-text p {
    font-size: 1rem;
  }
}
