.logoNavBar {
  max-width: 200px;
  max-height: 70px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  position: relative;
  z-index: 1060;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  max-height: 90vh;
  overflow-y: auto;
}
