.logoNavBar {
  max-width: 200px;
  max-height: 70px;

  align-self: flex-start;
  padding-top: 5px;
}

.nav-content {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-content {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  position: relative;
  z-index: 1060;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  max-height: 90vh;
  overflow-y: auto;
}

.img-home {
  height: auto;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-width: thin;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 30%,
    black 70%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 30%,
    black 70%,
    transparent
  );
}

.scroll-item {
  flex: 0 0 auto;
  width: 250px;
  scroll-snap-align: start;
}

.interactive {
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.08);
  }
}

.cart-drawer {
  position: fixed;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 10px;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-drawer.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .footer-content {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .row > .col {
    margin-bottom: 1.5rem;
  }

  .img-home {
    max-height: 300px;
  }
}

/* Scrollbar personalizada el slider */
.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}
